@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.1s ease;
}

.great-vibes {
  font-family: "Great Vibes", cursive;
}

/* HEADER SECTION */
@keyframes animate-words {
  0%,
  20%,
  100% {
    transform: translateY(0);
  }
  25%,
  50% {
    transform: translateY(-25%);
  }
  55%,
  75% {
    transform: translateY(-50%);
  }
  80%,
  99% {
    transform: translateY(-75%);
  }
}
.animate-scroller {
  animation: animate-words 15s ease-in-out infinite;
}

::-webkit-scrollbar {
  display: none;
}

.arrow{
  animation: arrowOnclick 5s ease-in-out forwards infinite;
}

@keyframes arrowOnclick {
  0%{
    outline-offset: 0;
    outline-color: #554bcd;
  }
  33%{
    outline-offset: 100px;
    outline-color: rgba(86, 75, 205, 0);
  }
  66%{
    outline-offset: 50px;
    outline-color: rgba(86, 75, 205, 0.5);
    
  }
}

/* ABOUT */
.about::before {
  content: "ABOUT";
  position: absolute;
  color: rgba(255, 255, 255, 0.25);
  transform: translate(3%, 7%);
  z-index: -1;
}

.special::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: rgb(85, 75, 255);
  transform: translate(1%, 100%);
  z-index: -1;
}

.blob {
  will-change: transfom;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 0;
  left: 4%;
  padding: 5px;
  z-index: -10;
  filter: blur(12px);
  animation: animate-blob 15s ease-in-out infinite;
}

.blob-inside {
  background: rgba(36, 5, 211, 0.2);
  position: relative;
  height: 100%;
  border-radius: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blob-inside2 {
  position: absolute;
  height: 105%;
  width: 105%;
  border-radius: 100%;
  backdrop-filter: blur(8px);
  z-index: 10;
}

@keyframes animate-blob {
  0%,
  100% {
    transform: translate(0) scale(0.9);
  }

  50% {
    transform: translate(70%, 20%) scale(1.2);
  }
}

/* SKILLS */
.skill::before {
  content: "Skills";
  position: absolute;
  color: rgba(255, 255, 255, 0.25);
  transform: translate(3%, 7%);
  z-index: -1;
}

/* work */
.work::before {
  content: "Experience";
  position: absolute;
  color: #ffffff40;
  transform: translate(3%, 7%);
  z-index: -1;
}

/*  PROJECTS */
.project::before {
  content: "Featured Projects";
  position: absolute;
  color: rgba(255, 255, 255, 0.25);
  transform: translate(1%, 6%);
  z-index: -1;
}



.cardShadow:hover{
  box-shadow: 5px -5px 15px -5px black ;
}

.animate-background {
  position: absolute;
  height: 100% !important;
  aspect-ratio: 1/1 !important;
  inset: 0;
  z-index: -1;
  transition: all 2000ms ease ;
}
.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 125%;
  height: 125%;
  border-radius: 100%;
  filter: blur(40px);
  /* background-color: #0000ff3f; */
  z-index: -1;
}

.circle2 {
  position: absolute;
  bottom: 0;
  right: 0;
  filter: blur(40px);
  width: 125%;
  height: 125%;
  border-radius: 1000%;
  transform: translate(50%, 50%);
  z-index: -1;
}

.project-card:hover .animate-background{
  transform:rotate(90deg);
}

